body {
  margin: 0;
  padding: 0;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #FAF8F7;
}

.header {
  display: grid;
  grid-template-columns: 20vw 15vw 15vw 15vw 15vw 20vw;
  grid-template-rows: 2vh 10vh 2vh;
  align-items: center;
  background-color: rgba(191, 177, 168, 0.7);
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: 2px solid #B2775A;
  border-bottom: 2px solid #B2775A;
}

.header h1 {
  display: flex;
  font-size: 20vw;
  color: #5A4D44;
  justify-content: center;
  z-index: 3;
}

.titleUnderline-off {
  align-self: flex-end;
  justify-content: flex-end;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  border-bottom: 10px solid #FAF8F7;
  width: 0%;
  opacity: 0;
  transition: 4000ms;
  z-index: 2;
}

.titleUnderline-on {
  align-self: flex-end;
  justify-content: flex-end;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  border-bottom: 10px solid #FAF8F7;
  width: 100%;
  opacity: 1;
  transition: 4000ms;
  transition-delay: 1000ms;
  z-index: 2;
}

.placeholderL {
  width: 100%;
  height: 100%;
  background-color: none;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.titleS-off {
  margin: 300% 0% 0% 0%;
  transition: ease 1000ms;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.titleS-on {
  margin: 0%;
  transition: ease 2000ms;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.titleH-off {
  margin: 0% 0% 300% 0%;
  transition: ease 1000ms;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.titleH-on {
  margin: 0%;
  transition: ease 2000ms;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.titleO-off {
  margin: 300% 0% 0% 0%;
  transition: ease 1000ms;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.titleO-on {
  margin: 0%;
  transition: ease 2000ms;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.titleP-off {
  margin: 0% 0% 0% 300%;
  transition: ease 1000ms;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.titleP-on {
  margin: 0%;
  transition: ease 4000ms;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.placeholderR {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

main  {
  display: grid;
  grid-template-columns: 10vw 35vw 10vw 35vw 10vw;
  grid-template-rows: 5vh 20vh 5vh 20vh 5vh 20vh 10vh;
  justify-content: space-around;
  align-content: space-around;
  width: 100vw;
  height: auto;
  top: 14vh;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: start;
}

.revealShop-off {
  height: 80%;
  width: 100%;
  grid-column: 1 / 6;
  grid-row: 1 / 8;
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 15vh 20vh 10vh 20vh 20vh;
  background: #E4CDC7;
  z-index: 3;
  transition: ease 2000ms;
  overflow: hidden;
}

.revealShop-on {
  height: 0%;
  width: 100%;
  grid-column: 1 / 6;
  grid-row: 1 / 8;
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 15vh 20vh 10vh 20vh 20vh;
  background: #E4CDC7;
  z-index: 3;
  transition: ease 3750ms;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.revealShop-h1-1-off {
  display: flex;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 12vw;
  color: #FAF8F7;
  transition: 1000ms;
}

.revealShop-h1-1-on {
  display: flex;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  opacity: 1;
  width: 100%;
  height: 100%;
  font-size: 12vw;
  color: #FAF8F7;
  transition: 2000ms;
}

.revealShop-h1-2-off {
  display: flex;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 12vw;
  color: #FAF8F7;
  transition: 2000ms;
}

.revealShop-h1-2-on {
  display: flex;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  opacity: 100;
  opacity: 1;
  width: 100%;
  height: 100%;
  font-size: 12vw;
  color: #FAF8F7;
  transition: 2000ms;
}

main img {
  border: 4px solid #DDD2D2;
}

.img1 {
  display: block;
  width: 100%;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.img2 {
  display: block;
  width: 100%;
  text-align: center;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.img3 {
  display: block;
  width: 100%;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.img4 {
  display: block;
  width: 100%;
  text-align: center;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin: 0 0 0.25rem 0;
}

p {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

a {
  text-decoration: none;
}

/* Colors */
.colors {
  color: #BFB1A8;
  color: #E4CDC7;
  color: #DDD2D2;
  color: #FAF8F7;
  color: #5A4D44;
  color: #BFB1A8;
  color: #B2775A;
  color: #E6D9CC;
  color: #140700;
  }
