body {
  margin: 0;
  padding: 0;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #FAF8F7;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflox-x: hidden;
  scroll-behavior: smooth;
}

body:focus {
  outline: 3px solid #B2775A;
}

/* -------Navigation------- */

.nav-items-off {
  background-color: rgba(179, 119, 90, 1);
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 10vh 20vh 20vh 20vh 20vh 10vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 0vh;
  transition: ease height 1000ms;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  bottom: 0;
  z-index: 3;
}


.nav-items-on {
  background-color: rgba(179, 119, 90, 1);
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 10vh 20vh 20vh 20vh 20vh 10vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  transition: ease height 1000ms;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  bottom: 0;
  z-index: 3;
}

.nav-item1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

}

.nav-item2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}


.nav-item3 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.nav-item4 {
  grid-column: 2 / 3;
  grid-row:5 / 6;
}

.nav-item {
  text-align: center;
}

.nav-btn {
  text-decoration: none;
  background-color: inherit;
  border: none;
  color: #FAF8F7;
  width: 100%;
  height: 100%;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 10vw;
  padding: 5% 0% 5% 0%;
  margin: 0;
  transition: 1s;
}

.nav-btn:hover {
  text-decoration: none;
  color: #E6D9CC;
  text-shadow: 2px 2px rgb(96, 91, 83);
  transition: 1s;
}

.nav-close {
  text-decoration: none;
  background-color: inherit;
  border: none;
  color: #FAF8F7;
  width: 100%;
  height: 100%;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20vw;
}

.nav-close:hover {
  text-decoration: none;
  color: #E6D9CC;
  text-shadow: 2px 2px rgb(96, 91, 83);
  transition: 1s;
}

.nav-close:onclick {
  text-shadow: 2px 20px 8px rgb(111, 103, 90);
}

  /* Nav Btn Open */
.nav-btn-div {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.nav-btn-off {
  background-color: none;
  border-radius: 1rem;
  width: 20vw;
  margin: 0 0 -4vh 0;
  float: center;
  opacity: 0;
  transition: 2000ms ease;
}

.nav-btn-on {
  background-color: none;
  border-radius: 1rem;
  width: 20vw;
  margin: 0 0 13.75vh 0;
  float: center;
  opacity: 8;
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  -o-transition: opacity 3s ease;
  transition: 2000ms ease;
}

.nav-btn-on:hover {
  background-color: rgba(228, 206, 200, 0.6);
  transition: background-color 0.5s ease;
  transition: box-shadow 0.5s ease;
  box-shadow: 2px 2px 0.5px #888888;
}

.nav-btn-img {
  width: 50%;
  float: center;
  text-align: center;
  padding: 10% 2% 10% 2%;
}


/* // END NAV \\ */

/* -------Header Image & Title------- */

.show {
  display: fixed;
}

.header-snap {
  scroll-snap-type: y mandatory;
}

.header {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header header header"
    "header header header header header header header header"
    "header header header header header header header header"
    "header header header header header header header header"
}

.header-img > img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.header-img {
  scroll-snap-align: start;
  grid-area: header;
  overflow: hidden;
  filter: none;
  z-index: -1;
  transition: filter 3s ease;
}

.header-img-off > img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.header-img-off {
  grid-area: header;
  overflow: hidden;
  filter: blur(0.25rem);
  z-index: -1;
  -webkit-transition: filter 3s ease;
  -moz-transition: filter 3s ease;
  -ms-transition: filter 3s ease;
  -o-transition: filter 3s ease;
  transition: filter 3s ease;
}

.header-title-1-off > img {
  width: 50vmin;
  height: auto;
  overflow: hidden;
}

.header-title-1-on > img {
  width: 50vmin;
  height: auto;
  overflow: hidden;
}

.header-title-1-off {
  grid-column: 2 / 8;
  grid-row: 2 / 4;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 2s ease;
}

.header-title-1-on {
  grid-column: 2 / 8;
  grid-row: 2 / 4;
  justify-content: center;
  text-align: center;
  opacity: 1;
  transition: opacity 3s ease;
}

.header-title-2-off > img {
  width: 80%;
  height: auto;
  overflow: hidden;
}

.header-title-2-on > img {
  width: 80%;
  height: auto;
  overflow: hidden;
}

.header-title-2-off {
  grid-column: 1 / 9;
  grid-row: 2 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 2s ease;
}

.header-title-2-on {
  grid-column: 1 / 9;
  grid-row: 2 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 3s ease;
}

/* -------END HEADER------- */

/* -------Shop SS 20------- */

/* Shop Content */

.shop-section {
  display: grid;
  grid-template-columns: 10vw 20vw 40vw 20vw 10vw;
  grid-template-rows: 10vh 15vh 15vh 20vh 15vh 15vh 10vh;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.brand-imgL-off {
  width: 60%;
  height: auto;
  opacity: 0;
  transition: opacity ease 4s;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.brand-imgL-on {
  width: 60%;
  height: auto;
  opacity: 1;
  transition: opacity ease 4s;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.brand-imgC-off {
  width: 80%;
  height: auto;
  opacity: 0;
  transition: opacity ease 4s;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.brand-imgC-on {
  width: 80%;
  height: auto;
  opacity: 1;
  transition: opacity ease 4s;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.brand-imgR-off {
  width: 60%;
  height: auto;
  display: flex;
  opacity: 0;
  transition: opacity ease 4s;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.brand-imgR-on {
  width: 60%;
  height: auto;
  opacity: 1;
  transition: opacity ease 4s;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.shop-section div img{
  width: 100%;
}

.shop-link-on {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.shop-link-off {

}

.shop-link-text {
  text-decoration: none;
  text-align: center;
  color: rgba(179, 119, 90, 0.5);
  background-color: rgba(230, 216, 203, 0.5);
  border: none;
  border-radius: 10px;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 10vw;
  padding: 5%;
  margin: 0;
  transition: 1s;
}

.shop-link-text:visited {
  color: rgba(179, 119, 90, 0.5);
}

.shop-link-text:hover {
  background-color: rgba(179, 119, 90, 0.5);
  color: rgba(230, 216, 203, 1);
  box-shadow: 3px 3px 1px #888888;
  transition: 0.3s;
}

/* -----Canvas----- */

.canvas-wrap{
  width: 100vw;
  height: 50vh;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #DDD2D2;
}
#canvas {
  background: none;
  width: 100vw;
  height: 50vh;
  margin: 0;
  padding: 0;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* Colors */
.colors {
  color: #BFB1A8;
  color: #E4CDC7;
  color: #DDD2D2;
  color: #FAF8F7;
  color: #5A4D44;
  color: #BFB1A8;
  color: #B2775A;
  color: #E6D9CC;
  color: #140700;
  }
